* {
    padding: 0;
    margin: 0;
}

header {
    background: #181818;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;

}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type {
    margin-left: 31px;
}

header nav ul li:last-of-type a {
    font-size: 16px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}

/* main_banner*/

.main_banner {
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}

.main_banner article {
    max-width: 580px;
    text-align: center;
}

.main_banner article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;

}

.main_banner article h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.main_banner article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}

/*What we do.*/


.what_we_do {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 84px;
}

.what_we_do .container {
    max-width: 1168px;
    margin: auto;
}

.what_we_do h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.what_we_do h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;

}

.what_we_do .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.what_we_do .cards article {
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do .cards article img {
    width: 100%;
    display: block;
}

.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
      letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;

}

.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
       color: #C0C0C0;
    margin-bottom: 20px;

}



.what_we_do .description a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;

    background: #FFFFFF;
    border-radius: 14px;
    max-width: 154px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;


}

.what_we_do .description a::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 4px;

}





/*Sunset*/

.Sunset {
    background-image: url("../images/sanset.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
}

.Sunset article {
    max-width: 298px;
}

.Sunset article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.Sunset article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;

}

/*Monstera*/

.Monstera {
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 87px;
    box-sizing: border-box;
    background-position: bottom;
}

.Monstera article {
    max-width: 273px;
}

.Monstera article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Monstera article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}


/*Past clients*/


.past_clients {

    background: #000000;
        padding-top: 113px;
    padding-bottom: 140px;
}

.past_clients_container{
    max-width: 1440px;
    margin: auto;

}


.past_clients .past_clients_container h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
       text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past_clients .past_clients_container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
       text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.past_clients .past_clients_referens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 182px;
    padding-left: 182px;
}

.past_clients .past_clients_referens a img{
    display: block;
}
/*star*/

.star {
    background-image: url("../images/star.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 106px;
    box-sizing: border-box;
    background-position: bottom;
}

.star article {
    max-width: 254px;
}

.star article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.star article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.help {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
}

.help_container {
    max-width: 571px;
    margin: auto;


}

.help .help_container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;

}

.help .help_container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;

}

.help .help_container a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;

    background: #FFFFFF;
    border-radius: 14px;
    max-width: 154px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 22px 209px 108px 209px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;


}

.help .help_container a::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 4px;

}

footer {

    background: #000000;
    padding-top: 92px;
    padding-bottom: 100px;

}

footer .bottom_container {
    max-width: 1440px;
    margin: auto;

}
footer .bottom_container_logo p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
footer .bottom_container_list_1 ul {
    list-style: none;

}
footer .bottom_container_list_1 ul li h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
        letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;

}
footer .bottom_container_list_1 ul li{
    margin-bottom: 10px;
}

footer .bottom_container_list_1 ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
        color: #FFFFFF;
    text-decoration: none;



}






footer .bottom_container_list_2{
    margin-left: 55px;

}

footer .bottom_container_list_2 ul {
    list-style: none;

}
footer .bottom_container_list_2 ul li h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;

}
footer .bottom_container_list_2 ul li{
    margin-bottom: 10px;
}

footer .bottom_container_list_2 ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;



}


footer .bottom_container_list{
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.bottom_container_top {
    display: flex;
    justify-content: space-between;
}

.subscribe{
    padding-top: 40px;
    padding-bottom: 40px;
}
.subscribe_left ul {
    list-style: none;
}
.subscribe_left ul li h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
       letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.subscribe_left ul li p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
       color: #C0C0C0;

}
.subscribe_right form {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    height: 52px;
}

.subscribe_right form input{
    border: 1px solid #E5E7EB;
    border-radius: 12px;

    height: 52px;

}
.subscribe_right form::after {
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 4px;
}